.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px ;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}
.place-order .cart-total button{
    margin-top: 30px;
}

.payment-btn{
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw,200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

.radio-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .radio-option {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #f8f9fa;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    transition: all 0.3s ease;
    min-width: 120px;
  }
  
  .radio-option:hover {
    border-color: tomato;
  }
  
  .radio-option input[type="radio"] {
    display: none; /* Hide default radio button */
  }
  
  .radio-option input[type="radio"]:checked + label {
    border-color:tomato;
    color: tomato;
    font-weight: bold;
  }
  
  .radio-option label {
    cursor: pointer;
    display: block;
    height: 100%;
  }

  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: -15px;
    margin-bottom: 15px;
}
  
  