.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    gap: .75rem;
    list-style: none;
    color: #49557e;
    font-size: 18px;
}
.navbar-menu li{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.signIn-btn{
    border-radius: 50px;
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.signIn-btn:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}